- movie ||= nil

.row.justify-content-center
  = image_tag("movies.png", size: "100x100")
.row.justify-content-center
  %h1 LET'S WATCH A MOVIE!
.row.justify-content-center
  %ul.nav.nav-tabs
    - if movie
      %li.nav-item.active
        = link_to movie.title, "#", class: "nav-link active"
    %li.nav-item
      = link_to "NOW SHOWING", movies_path(mode: "showing"), class: "nav-link #{params[:mode] == "showing" ? "active" : ""}"
    %li.nav-item
      = link_to "UPCOMING MOVIES", movies_path(mode: "upcoming"), class: "nav-link #{params[:mode] == "upcoming" ? "active" : ""}"
