= render partial: "movies_tab", locals: {movie: @movie}

.row.justify-content-center
  %h2= link_to @movie.title, @movie.imdb_url, target: "_blank;"

- if @movie.released?
  .row.justify-content-center
    = link_to "SHOW TIMES", "#", class: "btn btn-success float-right"
%hr
.row
  .col
    = image_tag(@movie.poster_url, class: "rounded img-fluid float-right", size: "300x450")
  .col
    %ul.list-group
      %li.list-group-item
        %em
          = @movie.overview
      %li.list-group-item
        %strong Release:
        = nice_date(@movie.release_date.to_date)
      %li.list-group-item
        %strong Runtime:
        = @movie.runtime
        %em minutes
      %li.list-group-item
        %strong Genres:
        = @movie.genres_txt
      - @movie.raitings.each do |rating|
        %li.list-group-item
          %strong= "#{rating["Source"]}:"
          = rating["Value"]

%hr
.row.justify-content-center
  .col
    %h3 Main Cast
    %ul.list-unstyled
      - @cast.first(6).each do |actor|
        %li.media
          = image_tag(actor.image_url, class: "mr-3", size: "50x75")
          .media-body
            %h5{class: "mt-0 mb-1"}= link_to actor.name, actor.imdb_url, target: "_blank;"
            %em= actor.character
  .col
    - trailer = youtube_trailer(@videos)
    %h3 Trailer
    %iframe{ src: "#{trailer.youtube_embeded_url}", frameborder: "0", width: "800", height: "450"}

- if current_account.favorite_cinema
  %hr
  .row.justify-content-center
    %h3 Show Times on your Favorite Cinema
  .row.justify-content-center
    %h3= nice_date(Date.current)
  .row.justify-content-center
    %h5.text-small.text-muted= current_account.favorite_cinema.name
  .row.justify-content-center
    - if @showtimes
      - @showtimes.showings.each do |type, info|
        .col-sm
          .container
            %h4= type
            - info["times"].each do |time|
              .card-group
                .card.text-white.border-primary.mb-3
                  = link_to movie_pick_account_path(movie_pick_put_params(@movie, time)), method: :put do
                    .card-body
                      %h5.card-title.text-center= "#{time["start_time"]}-#{time["end_time"]}"
    - else
      %p.em There is no show times at this teatre today


- if @similars.any?
  %hr
  .row.justify-content-center
    %h3 Smilar Movies
  .row.justify-content-center
    - @similars.each do |similar_movie|
      .col-sm
        %figure.figure
          = link_to movie_path(similar_movie.id) do
            = image_tag(similar_movie.poster_url, class: "figure-img img-thumbnail rounded")
          %figcaption.figure-caption
            = similar_movie.title
