= render partial: "movies_tab", locals: {movie: @movie}

.row.justify-content-center
  %h2= link_to @movie.title, @movie.imdb_url, target: "_blank;"
.row
  .col
    = image_tag(@movie.poster_url, class: "rounded img-fluid float-right", size: "300x450")
  .col
    %ul.list-group
      %li.list-group-item
        %em
          = @movie.overview
      %li.list-group-item
        %strong Release:
        = nice_date(@movie.release_date.to_date)
      %li.list-group-item
        %strong Runtime:
        = @movie.runtime
        %em minutes
      %li.list-group-item
        %strong Genres:
        = @movie.genres.map{ |genre| genre["name"]}.join(", ")
      - @movie.raitings.each do |rating|
        %li.list-group-item
          %strong= "#{rating["Source"]}:"
          = rating["Value"]
%hr
.row.justify-content-center
  .col
    %h3 Main Cast
    %ul.list-unstyled
      - @cast.first(6).each do |actor|
        %li.media
          = image_tag(actor.image_url, class: "mr-3", size: "50x75")
          .media-body
            %h5{class: "mt-0 mb-1"}= link_to actor.name, actor.imdb_url, target: "_blank;"
            %em= actor.character
  .col
    - trailer = youtube_trailer(@videos)
    %h3 Trailer
    %iframe{ src: "#{trailer.youtube_embeded_url}", frameborder: "0", width: "800", height: "450"}

- if @similars.any?
  %hr
  .row.justify-content-center
    %h3 Smilar Movies
  .row.justify-content-center
    - @similars.each do |similar_movie|
      .col-sm
        %figure.figure
          = link_to movie_path(similar_movie.id) do
            = image_tag(similar_movie.poster_url, class: "figure-img img-thumbnail rounded")
          %figcaption.figure-caption
            = similar_movie.title

%hr
.row.justify-content-center
  %h4 Data Thanks to:
.row.justify-content-center
  .col-sm
    = link_to "https://developers.themoviedb.org/3/getting-started/" do
      = image_tag("tmdb.png")
  .col-sm
    = link_to "http://www.omdbapi.com/" do
      = image_tag("omdb.png", size: "358x141")
