%hr
.row.justify-content-center
  %h4 Data Thanks to:
.row.justify-content-center
  .col-sm
    = link_to "https://developers.themoviedb.org/3/getting-started/" do
      = image_tag("tmdb.png", size: "200x79")
  .col-sm
    = link_to "http://www.omdbapi.com/" do
      = image_tag("omdb.png", size: "200x79")
  .col-sm
    = link_to "https://developer.movieglu.com/v2/api-index/quick-start-guide/" do
      = image_tag("movieglu.jpg", size: "200x79")
