.row.justify-content-center
  .media
    = image_tag(@cinema.logo_url, class: "align-self-center ml-3", size: "80x80")
    .media-body
      %h2.display-4= @cinema.cinema_name
      %p.lead= @cinema.full_address
%hr
.row.justify-content-center
  %h3 SHOW TIMES TODAY
.row.justify-content-center
  %h3= nice_date(Date.current)

- @now_playing.each do |movie|
  .row
    .col
      = image_tag(movie.images["poster"]["1"]["medium"]["film_image"], class: "rounded img-fluid float-right", size: "189x300")
    .col
      %ul.list-group
        %li.list-group-item
          - if movie.tmdb_movie.present?
            = link_to movie.film_name, movie_path(movie.tmdb_movie.id)
          - else
            %p.lead
              %strong= movie.film_name
        - if movie.age_rating.any?
          %li.list-group-item
            .media
              = image_tag(movie.age_rating[0]["age_rating_image"], class: "align-self-center mr-3")
              .media-body
              %p.lead= movie.age_rating[0]["age_advisory"]
  = render partial: "shared/showtimes", locals: {showtimes: movie, readonly: movie.tmdb_movie.nil?, movie_id: movie.tmdb_movie.try(:id), cinema_name: @cinema.cinema_name}
  %hr
