!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cinemanjar
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      = link_to root_path, class: "navbar-brand" do
        = image_tag("logo.png", size: "200x66")
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          - if current_account.present?
            = link_to account_path, class: "nav-item nav-link" do
              = fa_icon("user-circle", class: "far")
              DASHBOARD
            = link_to movies_path(mode: "showing"), class: "nav-item nav-link" do
              = fa_icon "film"
              MOVIES
            = link_to "#", class: "nav-item nav-link" do
              = fa_icon "fire"
              FOOD
            = link_to logout_path, class: "nav-item nav-link", data: { method: :delete, "no-turbolink" => true } do
              = fa_icon("sign-out", class: "far")
              LOGOUT
          - else
            = link_to login_path, class: "nav-item nav-link" do
              = fa_icon("sign-in", class: "fas")
              LOGIN
            = link_to signup_path, class: "nav-item nav-link" do
              = fa_icon("user-plus", class: "fas")
              SIGN UP

    .container
      = yield

      = render "shared/credit"

    %footer.footer
      .container
        .row.justify-content-center
          %span.text-muted Challenge Project by Carlos Góchez - 2019
