.row.justify-content-center
  %h1.display-4
    Change Your Password

= render partial: "shared/alert_error", locals: {errors: @account.errors}

= form_for @account do |f|

  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control"
  .form-row.align-items-center
    .col-auto
      = f.submit "Change Password", class: "btn btn-primary"
    .col-auto
      = link_to account_path, class: "btn btn-secundary" do
        = fa_icon("window-close")
        Cancel
