
.row.justify-content-center
  %h1.display-4
    Your Dashboard
    %small.text-muted
      Review your movie and food picks
%hr

- if flash[:notice]
  .alert.alert-success{ role: "alert" }
    = flash[:notice]

= render partial: "shared/alert_error"

.row.justify-content-center
  .col
    %ul.list-group.list-group-flush
      %li.list-group-item
        %strong Name:
        = current_account.name
      %li.list-group-item
        %strong Address:
        = current_account.address.full_address
      %li.list-group-item
        %strong Favorite genres:
        = current_account.favorite_genres_msg
      %li.list-group-item
        %strong Favorite Cinema:
        = current_account.favorite_cinema_name
  .col
    = image_tag("avatar.jpg", class: "rounded img-fluid float-right", size: "300x450")
%hr
.row.justify-content-center
  .btn-group{ role: "group" }
    = link_to cinemas_path, class: "btn btn-primary" do
      = fa_icon("film")
      Edit Favorite Cinema
    = link_to edit_account_path, class: "btn btn-primary" do
      = fa_icon("edit")
      Edit Account
    = link_to edit_password_account_path, class: "btn btn-primary" do
      = fa_icon("key")
      Edit Password
%hr
.row.justify-content-center
  .col
    %h3 Movie Picks
  .col
    %h3 Food Picks
