
.row.justify-content-center
  %h1.display-4
    Your Dashboard
    %small.text-muted
      Review your movie and food picks
%hr

- if flash[:notice]
  .alert.alert-success{ role: "alert" }
    = flash[:notice]

= render partial: "shared/alert_error"

.row.justify-content-center
  .col
    %ul.list-group.list-group-flush
      %li.list-group-item
        %strong Name:
        = current_account.name
      %li.list-group-item
        %strong Address:
        = current_account.address.full_address
      %li.list-group-item
        %strong Favorite genres:
        = current_account.favorite_genres_msg
      %li.list-group-item
        %strong Favorite Cinema:
        = current_account.favorite_cinema_name
  .col
    = image_tag("avatar.jpg", class: "rounded img-fluid float-right", size: "300x450")
%hr
.row.justify-content-center
  .btn-group{ role: "group" }
    = link_to cinemas_path, class: "btn btn-primary" do
      = fa_icon("film")
      Edit Favorite Cinema
    = link_to edit_account_path, class: "btn btn-primary" do
      = fa_icon("edit")
      Edit Account
    = link_to edit_password_account_path, class: "btn btn-primary" do
      = fa_icon("key")
      Edit Password
%hr
.row.justify-content-center
  .col
    %h3 Last 20 Movie Picks
    %ul.list-unstyled
      - @movie_picks.each do |pick|
        %li.media
          = image_tag(pick.movie_poster_url, class: "mr-3", size: "50x75")
          .media-body
            %h5{class: "mt-0 mb-1"}= link_to pick.movie_name, movie_path(pick.movie_id)
            %em.text-small= "#{pick.show_time_type} - #{nice_date(pick.movie_picked_at)} #{nice_showtime(pick.start_time)}"
            %p.lead
              at
              %em= pick.cinema_name
  .col
    %h3 Last 20 Restaurant Picks
    %ul.list-unstyled
      - @food_picks.each do |pick|
        %li.media
          = image_tag(pick.restaurant_image_url, class: "mr-3", size: "50x75")
          .media-body
            %h5{class: "mt-0 mb-1"}= link_to pick.restaurant_name, food_path(pick.restaurant_id)
            %em.text-small= nice_date(pick.created_at)
            %p.lead
              %em= pick.cuisines
